/* Sass file that assigns(color, background-color)  */
$text-color: #3D3D3D;
$background-color: #6d6d6d;

body {
    color: $text-color;
    background-color: $background-color;
}
p {
    color: $text-color;
}

h2 {
    background-color: #6D6D6D;
}